<a href="https://colab.research.google.com/github/nntu079/Pandas/blob/main/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df= pd.read_csv("/content/drive/My Drive/Môn học/data/LearnPandas/stock_data.csv");

df.sum(axis=0)

tickers                               GOOGLWMTMSFTRIL TATA
eps                            27.824.61-1not available5.6
revenue                                                705
price                                      84565641023n.a.
people     larry pagen.a.bill gatesmukesh ambaniratan tata
dtype: object

In [ ]:
col=df['eps']

col.astype(float, errors='ignore')

0            27.82
1             4.61
2               -1
3    not available
4              5.6
Name: eps, dtype: object

In [ ]:
df3=df['eps'] + df.iloc[0:2,0]
df3

0    27.82GOOGL
1       4.61WMT
2           NaN
3           NaN
4           NaN
dtype: object

In [ ]:
 df2=df.set_index('price')

 df2.reset_index(drop=True)

  tickers            eps  revenue         people
0   GOOGL          27.82       87     larry page
1     WMT           4.61      484           n.a.
2    MSFT             -1       85     bill gates
3    RIL   not available       50  mukesh ambani
4    TATA            5.6       -1     ratan tata

In [ ]:
df=pd.DataFrame([[1,2,3],['a',1,2],[4,5,'b']])
df

   0  1  2
0  1  2  3
1  a  1  2
2  4  5  b

In [ ]:
df[0]=pd.to_numeric(df[0])

ValueError: ignored

In [ ]:
df= pd.read_csv("/content/drive/My Drive/Môn học/data/LearnPandas/stock_data.csv",header=1);

df['']

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [ ]:
df= pd.read_csv("/content/drive/My Drive/Môn học/data/LearnPandas/stock_data.csv",header=None,names=['ticker','EPS','revenue','price','people']);

df['EPS']=pd.to_numeric(df['EPS'])
df

In [ ]:
df= pd.read_csv("/content/drive/My Drive/Môn học/data/LearnPandas/stock_data.csv",na_values=['not available','n.a.']);

df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [ ]:
raw_data={
    'city':['A','B','C'],
    'score':[1,2,3]
}

df=pd.DataFrame(raw_data,columns=['city','score']);
df.to_csv('/content/drive/My Drive/Môn học/data/LearnPandas/output.csv')

In [ ]:
import numpy as np
df = pd.DataFrame({'a':['a','b','a','b'], 'b':[2,1,3,100]})
df

   a    b
0  a    2
1  b    1
2  a    3
3  b  100

In [ ]:
df.groupby('a')['b'].agg([min, max])

   min  max
a
a    2    3
b    1  100

In [ ]:
df[['a', 'b']].groupby('a').agg([min, max])

    b
  min  max
a
a   2    3
b   1  100

In [ ]:
df.groupby('a').agg([min, max])['b']

   min  max
a
a    2    3
b    1  100

In [ ]:
df.groupby('a')['b'].agg(min, max)

TypeError: ignored